<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {$chapters[0].nome_livro}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/painel"><i class="fa fa-dashboard"></i> Home</a>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-9">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="/painel/add-book" class="btn btn-success">Cadastrar Livro</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nome do capitulo</th>
                    <th>Sub Titulo</th>
                    <th>Resumo</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$chapters"}
                  <tr>
                    <td>{$value.titulo}</td>
                    <td>{$value.sub_titulo}</td>
                    <td>{$value.texto}</td>
                    <td>
                      <a href="/painel/my-books/{$value.id_livro}/{$value.id}/add_page" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Paginas</a>
                      <a href="#" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->